In [1]:
import pandas as pd
from sklearn.metrics import f1_score
import numpy as np

In [2]:
def get_each_f1(true, pred):
    label = ['r','l','b','o','x']
    f1 = []
    for l in label:
        f1.append(f1_score(true==l, pred==l, zero_division=np.nan, average='binary'))

    return f1

In [3]:
# path = "/home/workspace/inference_result/v2.2_7b_r8.xlsx"
# path = "/home/workspace/inference_result/v2.2_30b_r8.xlsx"
# path = "/home/workspace/inference_result/v2.2_30b_r2-SNUH.xlsx"
# path = "/home/workspace/inference_result/v2.2_30b_r16.xlsx"
# path = "/home/workspace/inference_result/v2.2_30b_r4kqvo.xlsx"
# path = "/home/workspace/inference_result/v2.2_30b_r1kqvo.xlsx"
# path = "/home/workspace/inference_result/v2.2_13b_r2-SNUH.xlsx"
# path = "/home/workspace/inference_result/v2.2_13b_r8-SNUH.xlsx"
# path = "/home/workspace/inference_result/v2.2_13b_r1kqvo-SNUH.xlsx"
# ==========================================
### v3
# path = "/home/workspace/inference_result/v3.0_13b_r1kqvo-SNUH.xlsx"
# path = "/home/workspace/inference_result/v3.0_13b_r1kqvo-SNUH_FULLPROMPT.xlsx"
# path = "/home/workspace/inference_result/v3.0_7b_r8-SNUH_FULLPROMPT.xlsx"
# path = "/home/workspace/inference_result/v3.0_13b_r2-SNUH_FULL_PROMPRT.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r1kqvo-SNUH_FULL_PROMPRT.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r4kqvo-SNUH_FULLPROMPT.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r2-SNUH.xlsx"
# path = "/home/workspace/inference_result/v3.0_13b_r8-SNUH_FULLPROMPT.xlsx"
# path = "/home/workspace/inference_result/v3.0_7b_r1kqvo-SNUH_FULL_PROMPRT.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r8-SNUH.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r16-SNUH_FULLPROMPT.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r1kqvo-SNUH_FULLPROMPT-checkpoint132.xlsx"

### v3.2
# path = "/home/workspace/inference_result/v3.2_30b_r2-SNUH_test_v4.xlsx"
# path = "/home/workspace/inference_result/v3.2_30b_r4all_bz8-SNUH_test_v4.1.xlsx"
# path = "/home/workspace/inference_result/v3.2_7b_r2all_bs8-SNUH_test_v4.2.xlsx"
# path = "/home/workspace/inference_result/v3.2_13b_r2all_bs8-SNUH_test_v4.1.xlsx"
# path = "/home/workspace/inference_result/v3.2_30b_r2all_bz8-SNUH_test_v4.xlsx"
# path = "/home/workspace/inference_result/v3.2_65b_r2all_bs8-SNUH_test_v4.2.xlsx"


## FEW-SHOT
# path = "/home/workspace/inference_result/llama-13bshot3.xlsx"
# path = "/home/workspace/inference_result/llama-13b_shot10-SNUH_test_v4.2.xlsx"
# path = "/home/workspace/inference_result/llama-30b_shot3-SNUH_test_v4.2.xlsx"
# path = "/home/workspace/inference_result/llama-13b_NSHOT3-SNUH_test_v4.2.xlsx"
# path = "/home/workspace/inference_result/llama-13b_NSHOT10-SNUH_test_v4.2.xlsx"
# path = "/home/workspace/inference_result/llama-30b_NSHOT10-SNUH_test_v4.2.xlsx"
# path = "/home/workspace/inference_result/llama-30b_NSHOT3-SNUH_test_v4.2.xlsx"
# path = "/home/workspace/inference_result/llama-65b_NSHOT3-SNUH_test_v4.2.xlsx"
# path = "/home/workspace/inference_result/llama-65b_NSHOT10-SNUH_test_v4.2.xlsx"

# path = "/home/workspace/inference_result/Llama-2-70b-hf_NSHOT3-SNUH_test_v5.xlsx"
# path = "/home/workspace/inference_result/Llama-2-70b-hf_NSHOT10-SNUH_test_v5.xlsx"
# path = "/home/workspace/inference_result/Llama-2-70b-hf_NSHOT3-SNUH_test_v5_add_hereis.xlsx"
# path = "/home/workspace/inference_result/v3.2_Llama2_70b_r2all_bs8-SNUH_test_v5.xlsx"
# path ="/home/workspace/inference_result/v3.2_Llama2_13b_r2all_bs8-SNUH_test_v5.xlsx"

# path = "/home/workspace/inference_result/meditron-70b_NSHOT10-SNUH_test_v5.xlsx"

# path = "/home/workspace/inference_result/llama-65b_NSHOT3-SNUH_test_v5.xlsx"
path = "/home/workspace/inference_result/llama-65b_NSHOT0-SNUH_test_v5.xlsx"

## Zero-shot

In [4]:
inference_result = pd.read_excel(path)
# true = inference_result.iloc[:,10:22].fillna('x')
# true.drop('SDD', axis=1, inplace=True)
true = pd.read_excel('/home/data/SNUH_Mammo/0518/MGLabler_test_data_v5.xlsx').iloc[:,10:21].fillna('x')

# pred = inference_result.iloc[:,22:33].fillna('x')

# pred = inference_result.iloc[:,24:].fillna('x')
# pred = pred.drop(506).reset_index(drop=True)

pred = inference_result.iloc[:,23:34].fillna('x')

pred.columns =true.columns

In [5]:
pred

     N  M   C  A AD ST LNE ILN NR SR TT
0    l  l   x  l  x  x   x   x  x  x  x
1    x  x   r  x  x  x   x   x  x  x  x
2    o  o   o  o  o  o   o   o  o  o  o
3    x  x  C2  x  x  x   x   x  x  x  x
4    x  x   x  x  x  x   x   x  x  x  x
..  .. ..  .. .. .. ..  ..  .. .. .. ..
544  x  x   x  x  r  x   x   x  x  x  x
545  o  r   r  l  x  l   x   x  x  x  x
546  o  o   o  o  o  o   o   o  o  o  o
547  x  x   x  x  x  x   x   x  x  x  x
548  l  l   x  l  x  l   x   x  l  l  x

[549 rows x 11 columns]

In [6]:
true

     N  M  C  A AD ST LNE ILN NR SR TT
0    x  l  x  x  x  x   x   x  x  x  x
1    x  x  r  x  x  x   x   x  x  x  x
2    x  x  b  x  x  x   x   x  x  x  x
3    x  x  b  x  x  x   x   x  x  x  x
4    x  x  x  x  x  x   x   x  x  x  x
..  .. .. .. .. .. ..  ..  .. .. .. ..
544  x  x  x  x  r  x   x   x  x  x  x
545  x  r  r  l  x  l   x   x  x  x  x
546  x  x  x  x  x  x   x   r  x  x  x
547  x  x  x  x  x  x   x   r  x  x  x
548  x  l  x  x  x  x   x   x  l  x  x

[549 rows x 11 columns]

In [8]:
# path2 = "/home/workspace/inference_result/v3.2_7b_r2all_bs8-SNUH_test_v5.xlsx"
# path2 = "/home/workspace/inference_result/v3.2_13b_r2all_bs8-SNUH_test_v5.xlsx"
path2 = "/home/workspace/inference_result/v3.2_30b_r2all_bz8-SNUH_test_v5.xlsx"
# path2 = "/home/workspace/inference_result/v3.2_65b_r2all_bs8-SNUH_test_v5.xlsx"

inference_result2 = pd.read_excel(path2).iloc[:29,1:]
pred_2 = inference_result2.iloc[:,22:33]
pred_2.columns =true.columns

In [9]:
inference_result = pd.concat((inference_result,inference_result2.fillna('x'))).reset_index(drop=True)
pred = pd.concat((pred,pred_2.fillna('x'))).reset_index(drop=True)

In [10]:
pred

     N  M  C  A AD ST LNE ILN NR SR TT
0    x  l  x  x  x  x   x   x  x  x  x
1    x  x  r  x  x  x   x   x  x  x  x
2    x  x  b  x  x  x   x   x  x  x  x
3    x  x  b  x  x  x   x   x  x  x  x
4    x  x  x  x  x  x   x   x  x  x  x
..  .. .. .. .. .. ..  ..  .. .. .. ..
544  x  x  x  x  r  x   x   x  x  x  x
545  x  r  r  l  x  l   x   x  x  x  x
546  x  x  x  x  x  x   x   r  x  x  x
547  x  x  x  x  x  x   x   r  x  x  x
548  x  l  x  x  x  x   x   x  l  x  x

[549 rows x 11 columns]

In [35]:
default_dict = {'N': 'o',
 'M': 'o',
 'C': 'o',
 'A': 'o',
 'AD': 'o',
 'ST': 'o',
 'LNE': 'o',
 'ILN': 'o',
 'NR': 'o',
 'SR': 'o',
 'TT': 'o'}

In [36]:
s = 0
drop_idx = []
for i in range(len(pred)):
    if dict(pred.iloc[i]) == default_dict:
        s += 1
        drop_idx.append(i)

print(s)
print(drop_idx)

51
[2, 12, 13, 15, 21, 39, 41, 51, 57, 63, 66, 70, 73, 75, 76, 103, 117, 121, 133, 173, 176, 188, 222, 226, 253, 256, 271, 274, 278, 342, 352, 366, 377, 386, 410, 416, 429, 452, 461, 477, 483, 486, 505, 508, 518, 524, 533, 537, 538, 543, 546]

In [9]:
pred = pred.reset_index(drop=True)
pred = pred.drop(drop_idx)
true = true.drop(drop_idx)

In [7]:
import numpy as np
import pandas as pd
from sklearn.metrics import f1_score
from scipy import stats

def bootstrap_sample(df_pred, df_true, seed=None):
    np.random.seed(seed)
    n = len(df_pred)
    indices = np.random.choice(n, n, replace=True)
    new_pred = df_pred.iloc[indices].reset_index(drop=True)
    new_true = df_true.iloc[indices].reset_index(drop=True)
    return new_pred, new_true

def get_all_f1(true, pred, average):
    all_f1 = []
    for i in range(len(true.columns)):
        all_f1.append(f1_score(true.iloc[:,i], pred.iloc[:,i], average=average))
    return all_f1

all_f1_scores_weighted = []
all_f1_scores_macro = []
all_f1_scores_micro = []
for i in range(10):
    new_pred, new_true = bootstrap_sample(pred, true, seed=i)
    f1_weighted = get_all_f1(new_true, new_pred, average='weighted')
    f1_macro = get_all_f1(new_true, new_pred, average='macro')
    f1_micro = get_all_f1(new_true, new_pred, average='micro')
    all_f1_scores_weighted.append(f1_weighted)
    all_f1_scores_macro.append(f1_macro)
    all_f1_scores_micro.append(f1_micro)

def calculate_mean_std(scores_list):
    mean_scores = np.mean(scores_list, axis=0)
    std_scores = np.std(scores_list, axis=0)
    return mean_scores, std_scores

def calculate_confidence_interval(scores_list, confidence=0.95):
    mean_scores, std_scores = calculate_mean_std(scores_list)
    se = std_scores / np.sqrt(len(scores_list))
    h = se * stats.t.ppf((1 + confidence) / 2., len(scores_list) - 1)
    return mean_scores - h, mean_scores + h

# 평균, 표준편차 및 95% 신뢰구간 계산
average_f1_weighted, std_f1_weighted = calculate_mean_std(all_f1_scores_weighted)
ci_f1_weighted_1, ci_f1_weighted_2 = calculate_confidence_interval(all_f1_scores_weighted)

average_f1_macro, std_f1_macro = calculate_mean_std(all_f1_scores_macro)
ci_f1_macro_1, ci_f1_macro_2 = calculate_confidence_interval(all_f1_scores_macro)

average_f1_micro, std_f1_micro = calculate_mean_std(all_f1_scores_micro)
ci_f1_micro_1, ci_f1_micro_2 = calculate_confidence_interval(all_f1_scores_micro)

In [8]:
result_df = pd.DataFrame([average_f1_weighted, average_f1_macro, average_f1_micro]).transpose()
ci_df = pd.DataFrame([ci_f1_weighted_1, ci_f1_weighted_2, ci_f1_macro_1, ci_f1_macro_2, ci_f1_micro_1, ci_f1_micro_2]).transpose()

In [9]:
average_macro_f1 = [np.mean(f1) for f1 in all_f1_scores_macro]
pd.DataFrame(average_macro_f1)

          0
0  0.397788
1  0.400765
2  0.419898
3  0.426002
4  0.406014
5  0.428265
6  0.385862
7  0.393756
8  0.411322
9  0.407367

In [10]:
result_df

           0         1         2
0   0.644684  0.261385  0.504007
1   0.770561  0.541306  0.650638
2   0.847576  0.578920  0.800182
3   0.781836  0.447308  0.669217
4   0.820460  0.375838  0.702368
5   0.813391  0.452090  0.695446
6   0.820562  0.416469  0.700546
7   0.816236  0.219762  0.698543
8   0.815392  0.505395  0.695264
9   0.801554  0.377272  0.677960
10  0.826190  0.309000  0.705464

In [11]:
ci_df

           0         1         2         3         4         5
0   0.631028  0.658339  0.237211  0.285558  0.487443  0.520572
1   0.760450  0.780672  0.513179  0.569433  0.637887  0.663388
2   0.835061  0.860092  0.538064  0.619777  0.786817  0.813547
3   0.772725  0.790948  0.418606  0.476009  0.657974  0.680459
4   0.814583  0.826338  0.348672  0.403004  0.694416  0.710320
5   0.806748  0.820034  0.420957  0.483222  0.686385  0.704508
6   0.814639  0.826485  0.383993  0.448946  0.692240  0.708853
7   0.811215  0.821256  0.186558  0.252966  0.691867  0.705219
8   0.809885  0.820898  0.465380  0.545410  0.687126  0.703403
9   0.794110  0.808997  0.340348  0.414195  0.668213  0.687707
10  0.820549  0.831832  0.268411  0.349590  0.697495  0.713434

In [12]:
average = [np.mean(all_f1_scores_macro[i]) for i in range(10)]
print(np.mean(average))
print(calculate_confidence_interval(average))

0.40770397305800943
(0.3982665811668779, 0.41714136494914095)

In [13]:
average = [np.mean(all_f1_scores_weighted[i]) for i in range(10)]
print(np.mean(average))
print(calculate_confidence_interval(average))

0.7962219455667122
(0.7906379330796092, 0.8018059580538153)

In [20]:
# weighted f1 score
for i in range(len(true.columns)):
    print(
        # true.columns[i], 
    f"{f1_score(true.iloc[:,i], pred.iloc[:,i], average='weighted')}")

0.9932371211059736
0.9947714286362388
0.9926992603392254
0.9972871371545944
1.0
0.9936256179463633
0.9990884044021411
1.0
0.9913558485159257
1.0
1.0

In [21]:
average_f1_scores_macro

NameError: name 'average_f1_scores_macro' is not defined

In [ ]:
# weighted f1 score
for i in range(len(true.columns)):
    print(
        # true.columns[i], 
    f"{f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')}")

0.9495798319327731
0.862904562539599
0.9249471482746022
0.739713117674984
1.0
0.7140535880090197
0.749767008387698
1.0
0.8873356114735426
1.0
1.0

In [ ]:
# weighted f1 score
for i in range(len(true.columns)):
    print(
        # true.columns[i], 
    f"{f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')}")

0.9726775956284153
0.9581056466302369
0.9234972677595629
0.9726775956284153
0.9872495446265938
0.9836065573770492
0.9836065573770492
0.9890710382513661
0.9890710382513661
0.9854280510018215
0.9927140255009107

In [ ]:
print(path)
for i in range(len(true.columns)):
    print(true.columns[i], 
    # "Acc: {:.3f}".format((true.iloc[:,i] == pred.iloc[:,i]).mean()),
    # "Micro-F1: {:.3f}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')),
    # "Macro-F1: {:.3}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')),
    # "AVG-F1: {:.3}".format(sum(get_each_f1(true.iloc[:,i], pred.iloc[:,i]))/5),
    f"{get_each_f1(true.iloc[:,i], pred.iloc[:,i])}"[1:-1])

# macro

/home/workspace/inference_result/v3.2_65b_r2all_bs8-SNUH_test_v4.2.xlsx
N 1.0, 0.9411764705882353, 0.8571428571428571, nan, 1.0
M 0.9259259259259259, 0.972972972972973, 0.7499999999999999, 0.6666666666666666, 0.9989572471324296
C 0.9882352941176471, 0.9882352941176471, 0.9852216748768472, 0.6666666666666666, 0.9963768115942029
A 0.9811320754716981, 0.9787234042553191, nan, nan, 0.9989969909729188
AD 1.0, 1.0, nan, nan, 1.0
ST 0.8571428571428571, 1.0, nan, nan, 0.999071494893222
LNE 1.0, 1.0, nan, nan, 0.9990680335507922
ILN 1.0, 1.0, 1.0, nan, 1.0
NR 0.6666666666666666, 1.0, nan, nan, 0.995340167753961
SR 1.0, 1.0, nan, nan, 1.0
TT 1.0, 1.0, nan, nan, 1.0

In [ ]:
print(path)
for i in range(len(true.columns)):
    print(true.columns[i], 
    # "Acc: {:.3f}".format((true.iloc[:,i] == pred.iloc[:,i]).mean()),
    # "Micro-F1: {:.3f}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')),
    # "Macro-F1: {:.3}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')),
    "AVG-F1: {:.3}".format(sum(get_each_f1(true.iloc[:,i], pred.iloc[:,i]))/5),
    f"Each-F1: {get_each_f1(true.iloc[:,i], pred.iloc[:,i])}")

# macro

/home/workspace/inference_result/v3.2_13b_r2all_bs8-SNUH_test_v4.1.xlsx
N AVG-F1: nan Each-F1: [0.923076923076923, 0.7272727272727273, 0.6666666666666666, nan, 1.0]
M AVG-F1: 0.94 Each-F1: [0.9500000000000001, 1.0, 0.75, 1.0, 1.0]
C AVG-F1: 0.991 Each-F1: [0.9935483870967742, 0.9820359281437125, 0.9795918367346939, 1.0, 1.0]
A AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
AD AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
ST AVG-F1: nan Each-F1: [0.888888888888889, 1.0, nan, nan, 0.9990281827016522]
LNE AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 0.9990300678952473]
ILN AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
NR AVG-F1: nan Each-F1: [0.7499999999999999, 0.5, nan, nan, 0.9961089494163423]
SR AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
TT AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]

In [ ]:
print(path)
for i in range(len(true.columns)):
    print(true.columns[i], 
    # "Acc: {:.3f}".format((true.iloc[:,i] == pred.iloc[:,i]).mean()),
    # "Micro-F1: {:.3f}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')),
    # "Macro-F1: {:.3}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')),
    "AVG-F1: {:.3}".format(sum(get_each_f1(true.iloc[:,i], pred.iloc[:,i]))/5),
    f"Each-F1: {get_each_f1(true.iloc[:,i], pred.iloc[:,i])}")

# macro

/home/workspace/inference_result/v3.2_30b_r2all_bz8-SNUH_test_v4.xlsx
N AVG-F1: nan Each-F1: [1.0, 1.0, 1.0, nan, 1.0]
M AVG-F1: 0.924 Each-F1: [0.9523809523809523, 1.0, 0.6666666666666666, 1.0, 1.0]
C AVG-F1: 1.0 Each-F1: [1.0, 1.0, 1.0, 1.0, 1.0]
A AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
AD AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
ST AVG-F1: nan Each-F1: [0.9090909090909091, 0.6666666666666666, nan, nan, 0.9980506822612086]
LNE AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 0.9990300678952473]
ILN AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
NR AVG-F1: nan Each-F1: [0.6666666666666666, 0.8, nan, nan, 0.996101364522417]
SR AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
TT AVG-F1: nan Each-F1: [1.0, nan, nan, nan, 1.0]

In [ ]:
print(path)
for i in range(len(true.columns)):
    print(true.columns[i], 
    # "Acc: {:.3f}".format((true.iloc[:,i] == pred.iloc[:,i]).mean()),
    # "Micro-F1: {:.3f}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')),
    # "Macro-F1: {:.3}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')),
    "AVG-F1: {:.3}".format(sum(get_each_f1(true.iloc[:,i], pred.iloc[:,i]))/5),
    f"Each-F1: {get_each_f1(true.iloc[:,i], pred.iloc[:,i])}")

# macro

/home/workspace/inference_result/v3.2_65b_r2all_bs8-SNUH_test_v4.2.xlsx
N AVG-F1: nan Each-F1: [1.0, 0.9333333333333333, 0.8571428571428571, nan, 1.0]
M AVG-F1: 0.849 Each-F1: [0.9268292682926829, 0.9841269841269841, 0.6666666666666666, 0.6666666666666666, 0.9989212513484358]
C AVG-F1: 0.925 Each-F1: [0.987012987012987, 0.9879518072289156, 0.9847715736040609, 0.6666666666666666, 0.9961538461538462]
A AVG-F1: nan Each-F1: [0.9803921568627451, 1.0, nan, nan, 0.9989484752891693]
AD AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
ST AVG-F1: nan Each-F1: [0.888888888888889, 1.0, nan, nan, 0.9990281827016522]
LNE AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 0.9990300678952473]
ILN AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
NR AVG-F1: nan Each-F1: [0.6666666666666666, 1.0, nan, nan, 0.9970788704965919]
SR AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
TT AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]

In [ ]:
print(path)
for i in range(len(true.columns)):
    print(true.columns[i], 
    # "Acc: {:.3f}".format((true.iloc[:,i] == pred.iloc[:,i]).mean()),
    # "Micro-F1: {:.3f}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')),
    # "Macro-F1: {:.3}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')),
    "AVG-F1: {:.3}".format(sum(get_each_f1(true.iloc[:,i], pred.iloc[:,i]))/5),
    f"Each-F1: {get_each_f1(true.iloc[:,i], pred.iloc[:,i])}")

# macro

/home/workspace/inference_result/llama-65b_NSHOT10-SNUH_test_v4.2.xlsx
N AVG-F1: nan Each-F1: [0.5263157894736842, 0.33333333333333326, 0.5714285714285715, nan, 0.9839357429718876]
M AVG-F1: nan Each-F1: [0.8444444444444444, 0.8656716417910448, 0.28571428571428575, nan, 0.9891304347826088]
C AVG-F1: nan Each-F1: [0.7910447761194029, 0.8505747126436781, 0.84375, nan, 0.9424860853432282]
A AVG-F1: nan Each-F1: [0.8799999999999999, 0.7999999999999999, nan, nan, 0.9904761904761904]
AD AVG-F1: nan Each-F1: [1.0, 0.7499999999999999, nan, nan, 0.9970731707317073]
ST AVG-F1: nan Each-F1: [0.7272727272727272, 0.4, nan, nan, 0.994140625]
LNE AVG-F1: nan Each-F1: [nan, 0.5, nan, nan, 0.9970958373668926]
ILN AVG-F1: nan Each-F1: [0.6666666666666666, 0.8, nan, nan, 0.9961089494163423]
NR AVG-F1: nan Each-F1: [0.7499999999999999, 0.5, nan, nan, 0.9921722113502935]
SR AVG-F1: nan Each-F1: [0.5, 0.8, nan, nan, 0.9961165048543689]
TT AVG-F1: nan Each-F1: [0.8, nan, nan, nan, 0.9990319457889641]

# EDA

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
ProfileReport(true)

In [ ]:
inference_result[pred['SR.1']!='x']

In [ ]:
inference_result[pred['SR.1']!='x']['processed_finding'].iloc[0]

In [ ]:
inference_result[pred['SR.1']!='x']['processed_finding'].iloc[1]

In [ ]:
inference_result[pred['SR.1']!='x']['processed_finding'].iloc[2]

In [ ]:
inference_result[~pd.isna(inference_result["SR"])]['SR']

In [ ]:
inference_result[pred['SR.1']!='x']['SR']

In [ ]:
inference_result['processed_finding'].iloc[516]

In [ ]:
true['N'].value_counts()

N
x    529
r      8
l      8
b      4
Name: count, dtype: int64

In [ ]:
true['M'].value_counts()

M
x    480
l     37
r     26
b      5
o      1
Name: count, dtype: int64

In [ ]:
true['C'].value_counts()

C
x    276
b    102
r     85
l     85
o      1
Name: count, dtype: int64

In [ ]:
true['A'].value_counts()

A
x    498
r     27
l     23
b      1
Name: count, dtype: int64

In [ ]:
true['AD'].value_counts()

AD
x    538
r      7
l      4
Name: count, dtype: int64

In [ ]:
true['ST'].value_counts()

ST
x    538
r      7
l      3
b      1
Name: count, dtype: int64

In [ ]:
true['LNE'].value_counts()

LNE
x    537
r      6
l      6
Name: count, dtype: int64

In [ ]:
true['ILN'].value_counts()

ILN
x    539
r      6
l      3
b      1
Name: count, dtype: int64

In [ ]:
true['NR'].value_counts()

NR
x    537
r      7
l      5
Name: count, dtype: int64

In [ ]:
true['SR'].value_counts()

SR
x    540
l      6
r      3
Name: count, dtype: int64

In [ ]:
true['TT'].value_counts()

TT
x    544
r      4
l      1
Name: count, dtype: int64

In [ ]:
544/549

0.9908925318761385