In [1]:
import pandas as pd
from sklearn.metrics import f1_score
import numpy as np

In [2]:
def get_each_f1(true, pred):
    label = ['r','l','b','o','x']
    f1 = []
    for l in label:
        f1.append(f1_score(true==l, pred==l, zero_division=np.nan, average='binary'))

    return f1

In [3]:
# path = "/home/workspace/inference_result/v2.2_7b_r8-CDDCESM.xlsx"
# path = "/home/workspace/inference_result/v2.2_30b_r2-CDDCESM.xlsx"
# path = "/home/workspace/inference_result/v2.2_30b_r1kqvo-CDDCESM.xlsx"
# path = "/home/workspace/inference_result/v2.2_13b_r8-CDDCESM.xlsx"
# path = "/home/workspace/inference_result/v2.2_30b_r4kqvo-CDDCESM.xlsx"
# path = "/home/workspace/inference_result/v2.2_13b_r1kqvo-CDDCESM.xlsx"
# path = "/home/workspace/inference_result/v2.2_13b_r2-CDDCESM.xlsx"
# path = "/home/workspace/inference_result/v2.2_30b_r16-CDDCESM.xlsx"
# path = "/home/workspace/inference_result/v2.2_30b_r8-CDDCESM.xlsx"
# ==================================
### v3
# path = "/home/workspace/inference_result/v3.0_13b_r1kqvo-CDDCESM.xlsx"
# path = "/home/workspace/inference_result/v3.0_13b_r1kqvo-CDDCESM_FULLPROMPT.xlsx"
# path = "/home/workspace/inference_result/v3.0_13b_r2-CDDCESM_FULLPROMPT.xlsx"

### v3 wo CESM, fixed
# path = "/home/workspace/inference_result/v3.0_13b_r1kqvo-CDDCESM_FULLPROMPT_fixed.xlsx"
# path = "/home/workspace/inference_result/v3.0_13b_r2-CDDCESM_FULLPROMPT_fixed.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r2-CDDCESM_FULLPROMPT_fixed.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r16-CDDCESM_fixed.xlsx"
# path = "/home/workspace/inference_result/v3.0_7b_r8-CDDCESM_FULLPROMPT_fixed.xlsx"
# path = "/home/workspace/inference_result/v3.0_13b_r8-CDDCESM_FULLPROMPT_fixed.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r1kqvo-CDDCESM_FULLPROMPT_fixed.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r4kqvo-CDDCESM_fixed.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r8-CDDCESM_FULLPROMPT_fixed.xlsx"
# path = "/home/workspace/inference_result/v3.0_7b_r1kqvo-CDDCESM_FULLPROMPT_fixed.xlsx"

### v3 wo CESM, fixed1.2
# path = "/home/workspace/inference_result/v3.0_30b_r2-CDDCESM_FULLPROMPT_fixed1.2.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r2-CDDCESM_fixed1.2-checkpoint76.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r2-CDDCESM_fixed1.2-checkpoint156.xlsx"
# path = "/home/workspace/inference_result/v3.0_30b_r2-CDDCESM_fixed1.2-checkpoint212.xlsx"

# path = "/home/workspace/inference_result/v3.0_13b_r1kqvo-CDDCESM_FULLPROMPT_fixed1.2.xlsx"

### v3.2 wo CESM, fixed1.2
# path = "/home/workspace/inference_result/v3.2_30b_r2-CDDCESM_fixed1.2-checkpoint52.xlsx"
# path = "/home/workspace/inference_result/v3.2_30b_r2-CDDCESM_fixed1.2-checkpoint100.xlsx"
# path = "/home/workspace/inference_result/v3.2_30b_r2-CDDCESM_fixed1.2-checkpoint152.xlsx"
# path = "/home/workspace/inference_result/v3.2_30b_r2-CDDCESM_fixed1.2-checkpoint212.xlsx"
# path = "/home/workspace/inference_result/v3.2_30b_r2-CDDCESM_fixed1.2.xlsx" ## 268

# path = "/home/workspace/inference_result/v3.2_30b_r1-CDDCESM_fixed1.2_2048.xlsx" 
# path = "/home/workspace/inference_result/v3.2_30b_r1_cutoff512-CDDCESM_fixed1.2_512_new70.xlsx" 

# path = "/home/workspace/inference_result/v3.2_30b_r1all_bz8-CDDCESM_fixed1.2.xlsx" 
# path = "/home/workspace/inference_result/v3.2_30b_r1all_bz8-CDDCESM_fixed1.2-checkpoint580.xlsx" 
# path = "/home/workspace/inference_result/v3.2_30b_r1_cutoff512_bs8-CDDCESM_fixed1.2.xlsx" 

# path = "/home/workspace/inference_result/v3.2_13b_r1-CDDCESM_fixed1.2.xlsx" 
# path = "/home/workspace/inference_result/v3.2_13b_r1kqvo-CDDCESM_fixed1.2.xlsx" 
# path = "/home/workspace/inference_result/v3.2_13b_r1all_bs8-CDDCESM_fixed1.2.xlsx" 
# path = "/home/workspace/inference_result/v3.2_13b_r1all_bs4.xlsx" 
# path = "/home/workspace/inference_result/v3.2_30b_r2all_bz8-CDDCESM_fixed1.2.xlsx" 
# path = "/home/workspace/inference_result/v3.2_13b_r2all_bs8-CDDCESM_fixed1.2.xlsx" 
# path = "/home/workspace/inference_result/v3.2_30b_r4all_bz8-CDDCESM_fixed1.3.xlsx" 
# path = "/home/workspace/inference_result/v3.2_30b_r2all_bz16-CDDCESM_fixed1.3.xlsx"
 
# path = "/home/workspace/inference_result/v3.2_7b_r2all_bs8-CDDCESM_fixed1.3.xlsx" 
# path = "/home/workspace/inference_result/v3.2_13b_r2all_bs8-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/v3.2_30b_r2all_bz8-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/v3.2_65b_r2all_bs8-CDDCESM_fixed1.3.xlsx" 



### FeW-SHOT
# path = "/home/workspace/inference_result/llama-13b_shot3-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/llama-30b_shot3-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/llama-13b_NSHOT3-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/llama-13b_NSHOT10-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/llama-30b_NSHOT3-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/llama-65b_NSHOT3-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/llama-30b_NSHOT10-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/llama-65b_NSHOT10-CDDCESM_fixed1.3.xlsx"

# path = "/home/workspace/inference_result/Llama-2-70b-hf_NSHOT3-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/Llama-2-70b-hf_NSHOT10-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/Llama-2-70b-hf_NSHOT3-CDDCESM_fixed1.3_add_hereis.xlsx"


# path = "/home/workspace/inference_result/meditron-70b_NSHOT10-CDDCESM_fixed1.3.xlsx"
# path = "/home/workspace/inference_result/llama-65b_NSHOT3-CDDCESM_fixed1.3.xlsx"
path = "/home/workspace/inference_result/llama-65b_NSHOT0-CDDCESM_fixed1.3.xlsx"


inference_result = pd.read_excel(path)

In [4]:
# true = inference_result.iloc[:,2:14].fillna('x')
# true.drop('SDD', axis=1, inplace=True)
# true = pd.read_excel('/home/data/CDD-CESM/CDD-CESM_reports_w_label_wo_CESM_fixed1.3.xlsx').iloc[:,2:13].fillna('x')
true = pd.read_excel('/home/data/CDD-CESM/CDD-CESM_reports_w_label_wo_CESM_fixed2.0.xlsx').iloc[:,2:13].fillna('x')
pred = inference_result.iloc[:,15:].fillna('x')

pred.columns =true.columns

In [5]:
true

     N  M  C  A AD ST LNE ILN NR SR TT
0    x  x  x  x  l  x   x   x  x  x  x
1    x  r  r  x  x  x   x   x  x  x  x
2    x  l  x  x  x  x   x   x  x  x  x
3    x  x  x  x  x  x   x   x  x  x  x
4    x  x  x  x  x  x   x   x  x  x  x
..  .. .. .. .. .. ..  ..  .. .. .. ..
321  x  x  x  x  l  x   x   x  l  x  x
322  x  l  x  x  x  x   x   x  x  x  x
323  x  x  x  x  x  r   x   x  x  x  r
324  r  x  x  r  x  x   x   r  x  x  x
325  x  x  r  l  x  x   x   x  x  x  x

[326 rows x 11 columns]

In [6]:
pred

     N  M  C  A AD ST LNE ILN NR SR TT
0    x  x  x  x  l  x   x   x  x  x  x
1    o  b  r  o  o  o   o   o  o  o  o
2    l  l  x  x  x  x   x   x  x  x  x
3    o  o  o  o  o  o   o   o  o  o  o
4    o  o  o  o  o  o   o   o  o  o  o
..  .. .. .. .. .. ..  ..  .. .. .. ..
321  o  o  o  o  l  o   o   o  l  l  o
322  o  l  x  x  x  x   x   x  x  x  x
323  o  o  o  o  o  r   o   o  o  r  r
324  r  x  x  r  x  x   r   r  x  x  x
325  x  x  r  l  x  x   x   x  x  x  x

[326 rows x 11 columns]

In [7]:
default_dict = {'N': 'o',
 'M': 'o',
 'C': 'o',
 'A': 'o',
 'AD': 'o',
 'ST': 'o',
 'LNE': 'o',
 'ILN': 'o',
 'NR': 'o',
 'SR': 'o',
 'TT': 'o'}

In [8]:
s = 0
drop_idx = []
for i in range(len(pred)):
    if dict(pred.iloc[i]) == default_dict:
        s += 1
        drop_idx.append(i)

print(s)
print(drop_idx)

80
[3, 4, 9, 19, 22, 25, 28, 32, 35, 37, 38, 40, 42, 47, 48, 53, 56, 57, 61, 62, 70, 74, 77, 78, 79, 80, 91, 99, 100, 103, 108, 109, 111, 116, 117, 119, 126, 129, 134, 135, 136, 138, 139, 142, 150, 154, 155, 157, 158, 165, 166, 169, 174, 178, 181, 182, 184, 192, 194, 200, 201, 202, 203, 209, 213, 218, 220, 223, 224, 225, 229, 235, 249, 276, 277, 283, 287, 297, 299, 319]

In [9]:
pred = pred.reset_index(drop=True)
pred = pred.drop(drop_idx)
true = true.drop(drop_idx)

In [7]:
import numpy as np
import pandas as pd
from sklearn.metrics import f1_score
from scipy import stats

def bootstrap_sample(df_pred, df_true, seed=None):
    np.random.seed(seed)
    n = len(df_pred)
    indices = np.random.choice(n, n, replace=True)
    new_pred = df_pred.iloc[indices].reset_index(drop=True)
    new_true = df_true.iloc[indices].reset_index(drop=True)
    return new_pred, new_true

def get_all_f1(true, pred, average):
    all_f1 = []
    for i in range(len(true.columns)):
        all_f1.append(f1_score(true.iloc[:,i], pred.iloc[:,i], average=average))
    return all_f1

all_f1_scores_weighted = []
all_f1_scores_macro = []
all_f1_scores_micro = []
for i in range(10):
    new_pred, new_true = bootstrap_sample(pred, true, seed=i)
    f1_weighted = get_all_f1(new_true, new_pred, average='weighted')
    f1_macro = get_all_f1(new_true, new_pred, average='macro')
    f1_micro = get_all_f1(new_true, new_pred, average='micro')
    all_f1_scores_weighted.append(f1_weighted)
    all_f1_scores_macro.append(f1_macro)
    all_f1_scores_micro.append(f1_micro)

def calculate_mean_std(scores_list):
    mean_scores = np.mean(scores_list, axis=0)
    std_scores = np.std(scores_list, axis=0)
    return mean_scores, std_scores

def calculate_confidence_interval(scores_list, confidence=0.95):
    mean_scores, std_scores = calculate_mean_std(scores_list)
    se = std_scores / np.sqrt(len(scores_list))
    h = se * stats.t.ppf((1 + confidence) / 2., len(scores_list) - 1)
    return mean_scores - h, mean_scores + h

# 평균, 표준편차 및 95% 신뢰구간 계산
average_f1_weighted, std_f1_weighted = calculate_mean_std(all_f1_scores_weighted)
ci_f1_weighted_1, ci_f1_weighted_2 = calculate_confidence_interval(all_f1_scores_weighted)

average_f1_macro, std_f1_macro = calculate_mean_std(all_f1_scores_macro)
ci_f1_macro_1, ci_f1_macro_2 = calculate_confidence_interval(all_f1_scores_macro)

average_f1_micro, std_f1_micro = calculate_mean_std(all_f1_scores_micro)
ci_f1_micro_1, ci_f1_micro_2 = calculate_confidence_interval(all_f1_scores_micro)

In [8]:
result_df = pd.DataFrame([average_f1_weighted, average_f1_macro, average_f1_micro]).transpose()
ci_df = pd.DataFrame([ci_f1_weighted_1, ci_f1_weighted_2, ci_f1_macro_1, ci_f1_macro_2, ci_f1_micro_1, ci_f1_micro_2]).transpose()

In [9]:
average_macro_f1 = [np.mean(f1) for f1 in all_f1_scores_macro]
pd.DataFrame(average_macro_f1)

          0
0  0.394707
1  0.395733
2  0.407880
3  0.411082
4  0.434449
5  0.439603
6  0.391491
7  0.431530
8  0.429737
9  0.400705

In [10]:
result_df

           0         1         2
0   0.078381  0.059390  0.058896
1   0.492003  0.490125  0.457669
2   0.644326  0.537416  0.510429
3   0.643428  0.587850  0.527914
4   0.740649  0.557193  0.604601
5   0.693326  0.412086  0.554601
6   0.688237  0.144659  0.525153
7   0.707391  0.419822  0.557669
8   0.736166  0.667233  0.591718
9   0.660892  0.172066  0.500920
10  0.732502  0.502766  0.588650

In [11]:
ci_df

           0         1         2         3         4         5
0   0.067581  0.089182  0.047113  0.071668  0.051833  0.065959
1   0.482214  0.501793  0.474031  0.506220  0.449529  0.465809
2   0.632304  0.656349  0.513640  0.561192  0.497778  0.523081
3   0.633341  0.653514  0.583247  0.592453  0.514916  0.540913
4   0.727614  0.753684  0.511087  0.603299  0.588433  0.620770
5   0.678629  0.708023  0.379821  0.444350  0.537695  0.571508
6   0.671383  0.705092  0.133231  0.156088  0.505729  0.544578
7   0.692745  0.722038  0.398906  0.440738  0.539956  0.575382
8   0.720018  0.752314  0.658793  0.675673  0.571885  0.611551
9   0.641318  0.680465  0.152309  0.191823  0.478757  0.523083
10  0.719248  0.745755  0.452370  0.553162  0.572158  0.605143

In [12]:
average = [np.mean(all_f1_scores_macro[i]) for i in range(10)]
print(np.mean(average))
print(calculate_confidence_interval(average))

0.41369156317980116
(0.40117193128623807, 0.42621119507336425)

In [13]:
average = [np.mean(all_f1_scores_weighted[i]) for i in range(10)]
print(np.mean(average))
print(calculate_confidence_interval(average))

0.6197546770362641
(0.6091493260908523, 0.6303600279816759)

In [17]:
# weighted f1 score
for i in range(len(true.columns)):
    print(
        # true.columns[i], 
    f"{f1_score(true.iloc[:,i], pred.iloc[:,i], average='weighted')}")

1.0
0.9968771919425427
0.9608195220217929
1.0
1.0
0.9679981217398407
1.0
1.0
0.9968542940834707
1.0
0.9756461048540528

In [18]:
# weighted f1 score
for i in range(len(true.columns)):
    print(
        # true.columns[i], 
    f"{f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')}")

1.0
0.9872785829307569
0.9064925373134328
1.0
1.0
0.9129229062673322
1.0
1.0
0.981912366560774
1.0
0.9270978441127694

In [19]:
# weighted f1 score
for i in range(len(true.columns)):
    print(
        # true.columns[i], 
    f"{f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')}")

1.0
0.9969325153374233
0.9601226993865031
1.0
1.0
0.9723926380368099
1.0
1.0
0.9969325153374233
1.0
0.9785276073619632

In [20]:
print(path)
for i in range(len(true.columns)):
    print(true.columns[i], 
    # "Acc: {:.3f}".format((true.iloc[:,i] == pred.iloc[:,i]).mean()),
    # "Micro-F1: {:.3f}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')),
    # "Macro-F1: {:.3}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')),
    "AVG-F1: {:.3}".format(sum(get_each_f1(true.iloc[:,i], pred.iloc[:,i]))/5),
    f"Each-F1: {get_each_f1(true.iloc[:,i], pred.iloc[:,i])}")

# macro

/home/workspace/inference_result/v3.2_65b_r2all_bs8-CDDCESM_fixed1.3.xlsx
N AVG-F1: nan Each-F1: [1.0, 1.0, 1.0, nan, 1.0]
M AVG-F1: nan Each-F1: [1.0, 0.9925925925925926, 0.9565217391304348, nan, 1.0]
C AVG-F1: nan Each-F1: [0.9866666666666666, 0.8333333333333334, 0.8059701492537313, nan, 1.0]
A AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
AD AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
ST AVG-F1: nan Each-F1: [1.0, 0.6666666666666666, 1.0, nan, 0.9850249584026624]
LNE AVG-F1: nan Each-F1: [nan, nan, nan, nan, 1.0]
ILN AVG-F1: nan Each-F1: [1.0, 1.0, 1.0, nan, 1.0]
NR AVG-F1: nan Each-F1: [0.9473684210526316, 1.0, nan, nan, 0.99836867862969]
SR AVG-F1: nan Each-F1: [nan, 1.0, nan, nan, 1.0]
TT AVG-F1: nan Each-F1: [1.0, 0.72, 1.0, nan, 0.988391376451078]

In [21]:
print(path)
for i in range(len(true.columns)):
    print(true.columns[i], 
    # "Acc: {:.3f}".format((true.iloc[:,i] == pred.iloc[:,i]).mean()),
    # "Micro-F1: {:.3f}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')),
    # "Macro-F1: {:.3}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')),
    "AVG-F1: {:.3}".format(sum(get_each_f1(true.iloc[:,i], pred.iloc[:,i]))/5),
    f"Each-F1: {get_each_f1(true.iloc[:,i], pred.iloc[:,i])}")

# macro

/home/workspace/inference_result/v3.2_65b_r2all_bs8-CDDCESM_fixed1.3.xlsx
N AVG-F1: nan Each-F1: [1.0, 1.0, 1.0, nan, 1.0]
M AVG-F1: nan Each-F1: [1.0, 0.9925925925925926, 0.9565217391304348, nan, 1.0]
C AVG-F1: nan Each-F1: [0.9866666666666666, 0.8333333333333334, 0.8059701492537313, nan, 1.0]
A AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
AD AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
ST AVG-F1: nan Each-F1: [1.0, 0.6666666666666666, 1.0, nan, 0.9850249584026624]
LNE AVG-F1: nan Each-F1: [nan, nan, nan, nan, 1.0]
ILN AVG-F1: nan Each-F1: [1.0, 1.0, 1.0, nan, 1.0]
NR AVG-F1: nan Each-F1: [0.9473684210526316, 1.0, nan, nan, 0.99836867862969]
SR AVG-F1: nan Each-F1: [nan, 1.0, nan, nan, 1.0]
TT AVG-F1: nan Each-F1: [1.0, 0.72, 1.0, nan, 0.988391376451078]

In [22]:
print(path)
for i in range(len(true.columns)):
    print(true.columns[i], 
    # "Acc: {:.3f}".format((true.iloc[:,i] == pred.iloc[:,i]).mean()),
    # "Micro-F1: {:.3f}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')),
    # "Macro-F1: {:.3}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')),
    "AVG-F1: {:.3}".format(sum(get_each_f1(true.iloc[:,i], pred.iloc[:,i]))/5),
    f"Each-F1: {get_each_f1(true.iloc[:,i], pred.iloc[:,i])}")

# macro

/home/workspace/inference_result/v3.2_65b_r2all_bs8-CDDCESM_fixed1.3.xlsx
N AVG-F1: nan Each-F1: [1.0, 1.0, 1.0, nan, 1.0]
M AVG-F1: nan Each-F1: [1.0, 0.9925925925925926, 0.9565217391304348, nan, 1.0]
C AVG-F1: nan Each-F1: [0.9866666666666666, 0.8333333333333334, 0.8059701492537313, nan, 1.0]
A AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
AD AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
ST AVG-F1: nan Each-F1: [1.0, 0.6666666666666666, 1.0, nan, 0.9850249584026624]
LNE AVG-F1: nan Each-F1: [nan, nan, nan, nan, 1.0]
ILN AVG-F1: nan Each-F1: [1.0, 1.0, 1.0, nan, 1.0]
NR AVG-F1: nan Each-F1: [0.9473684210526316, 1.0, nan, nan, 0.99836867862969]
SR AVG-F1: nan Each-F1: [nan, 1.0, nan, nan, 1.0]
TT AVG-F1: nan Each-F1: [1.0, 0.72, 1.0, nan, 0.988391376451078]

In [23]:
print(path)
for i in range(len(true.columns)):
    print(true.columns[i], 
    # "Acc: {:.3f}".format((true.iloc[:,i] == pred.iloc[:,i]).mean()),
    # "Micro-F1: {:.3f}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')),
    # "Macro-F1: {:.3}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')),
    "AVG-F1: {:.3}".format(sum(get_each_f1(true.iloc[:,i], pred.iloc[:,i]))/5),
    f"Each-F1: {get_each_f1(true.iloc[:,i], pred.iloc[:,i])}")

# macro

/home/workspace/inference_result/v3.2_65b_r2all_bs8-CDDCESM_fixed1.3.xlsx
N AVG-F1: nan Each-F1: [1.0, 1.0, 1.0, nan, 1.0]
M AVG-F1: nan Each-F1: [1.0, 0.9925925925925926, 0.9565217391304348, nan, 1.0]
C AVG-F1: nan Each-F1: [0.9866666666666666, 0.8333333333333334, 0.8059701492537313, nan, 1.0]
A AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
AD AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
ST AVG-F1: nan Each-F1: [1.0, 0.6666666666666666, 1.0, nan, 0.9850249584026624]
LNE AVG-F1: nan Each-F1: [nan, nan, nan, nan, 1.0]
ILN AVG-F1: nan Each-F1: [1.0, 1.0, 1.0, nan, 1.0]
NR AVG-F1: nan Each-F1: [0.9473684210526316, 1.0, nan, nan, 0.99836867862969]
SR AVG-F1: nan Each-F1: [nan, 1.0, nan, nan, 1.0]
TT AVG-F1: nan Each-F1: [1.0, 0.72, 1.0, nan, 0.988391376451078]

In [24]:
print(path)
for i in range(len(true.columns)):
    print(true.columns[i], 
    # "Acc: {:.3f}".format((true.iloc[:,i] == pred.iloc[:,i]).mean()),
    # "Micro-F1: {:.3f}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='micro')),
    # "Macro-F1: {:.3}".format(f1_score(true.iloc[:,i], pred.iloc[:,i], average='macro')),
    "AVG-F1: {:.3}".format(sum(get_each_f1(true.iloc[:,i], pred.iloc[:,i]))/5),
    f"Each-F1: {get_each_f1(true.iloc[:,i], pred.iloc[:,i])}")

# macro

/home/workspace/inference_result/v3.2_65b_r2all_bs8-CDDCESM_fixed1.3.xlsx
N AVG-F1: nan Each-F1: [1.0, 1.0, 1.0, nan, 1.0]
M AVG-F1: nan Each-F1: [1.0, 0.9925925925925926, 0.9565217391304348, nan, 1.0]
C AVG-F1: nan Each-F1: [0.9866666666666666, 0.8333333333333334, 0.8059701492537313, nan, 1.0]
A AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
AD AVG-F1: nan Each-F1: [1.0, 1.0, nan, nan, 1.0]
ST AVG-F1: nan Each-F1: [1.0, 0.6666666666666666, 1.0, nan, 0.9850249584026624]
LNE AVG-F1: nan Each-F1: [nan, nan, nan, nan, 1.0]
ILN AVG-F1: nan Each-F1: [1.0, 1.0, 1.0, nan, 1.0]
NR AVG-F1: nan Each-F1: [0.9473684210526316, 1.0, nan, nan, 0.99836867862969]
SR AVG-F1: nan Each-F1: [nan, 1.0, nan, nan, 1.0]
TT AVG-F1: nan Each-F1: [1.0, 0.72, 1.0, nan, 0.988391376451078]

In [25]:
col='TT'
idx = []
for i in range(len(true)):
    if true.iloc[i][col]!=pred.iloc[i][col]:
        print(i)
        idx.append(i)
print(idx)

154
182
194
201
277
287
297
[154, 182, 194, 201, 277, 287, 297]

In [26]:
list(inference_result.loc[idx].processed_finding)

['Right Breast:  No speculated mass lesions or suspicious microcalcifications.  Normal skin thickness and contour of breast.    Left Breast:  Diffuse edematous changes evidenced by increased skin thickness and coarsened trabeculae.  No suspicious microcalcifications.      OPINION:  Right Breast:  Normal breast examination (BIRADS 1).    Left Breast:  Diffuse edematous changes (BIRADS 4).                          ',
 'Right Breast:  No speculated mass lesions or suspicious microcalcifications.  Normal skin thickness and contour of breast.    Left Breast:  Diffuse edematous changes evidenced by increased skin thickness and coarsened trabeculae.  No suspicious microcalcifications.      OPINION:  Right Breast:  Normal breast examination (BIRADS 1).    Left Breast:  Diffuse edematous changes (BIRADS 4).                          ',
 'Right Breast:  No speculated mass lesions or suspicious microcalcifications.  Normal skin thickness and contour of breast.    Left Breast:  Diffuse edematous changes evidenced by increased skin thickness and coarsened trabeculae.  Central outer benign macrocalcifications are noted.  No suspicious microcalcifications.      OPINION:  Right Breast:  Normal breast examination (BIRADS 1).    Left Breast:  Diffuse edematous changes (BIRADS 4).  Central outer benign macrocalcifications (BIRADS 2).                    ',
 'Right Breast:  No speculated mass lesions or suspicious microcalcifications.  Normal skin thickness and contour of breast.    Left Breast:  Diffuse edematous changes evidenced by increased skin thickness and coarsened trabeculae.  Lower central benign macrocalcification is noted.  No suspicious microcalcifications.      OPINION:  Right Breast:  Normal breast examination (BIRADS 1).    Left Breast:  Diffuse edematous changes (BIRADS 4).  Lower central benign macrocalcification (BIRADS 2).                    ',
 'Right Breast:  No speculated mass lesions or suspicious microcalcifications.  Normal skin thickness and contour of breast.    Left Breast:  Diffuse edematous changes evidenced by increased skin thickness and coarsened trabeculae.  No suspicious microcalcifications.      OPINION:  Right Breast:  Normal breast examination (BIRADS 1).    Left Breast:  Diffuse edematous changes (BIRADS 4).                      ',
 'Right Breast:  No speculated mass lesions or suspicious microcalcifications.  Normal skin thickness and contour of breast.    Left Breast:  Diffuse edematous changes evidenced by increased skin thickness and coarsened trabeculae.  No suspicious microcalcifications.      OPINION:  Right Breast:  Normal breast examination (BIRADS 1).    Left Breast:  Diffuse edematous changes (BIRADS 4).                    ',
 'Right Breast:  No speculated mass lesions or suspicious microcalcifications.  Normal skin thickness and contour of breast.    Left Breast:  Diffuse edematous changes evidenced by increased skin thickness and coarsened trabeculae.  No suspicious microcalcifications.      OPINION:  Right Breast:  Normal breast examination (BIRADS 1).    Left Breast:  Diffuse edematous changes (BIRADS 4).                    ']

In [27]:
print(true.loc[idx])
print(pred.loc[idx])

     N  M  C  A AD ST LNE ILN NR SR TT
154  x  x  x  x  x  l   x   x  x  x  l
182  x  x  x  x  x  l   x   x  x  x  l
194  x  x  l  x  x  l   x   x  x  x  l
201  x  x  l  x  x  l   x   x  x  x  l
277  x  x  x  x  x  l   x   x  x  x  l
287  x  x  x  x  x  l   x   x  x  x  l
297  x  x  x  x  x  l   x   x  x  x  l
     N  M  C  A AD ST LNE ILN NR SR TT
154  x  x  x  x  x  x   x   x  x  x  x
182  x  x  x  x  x  x   x   x  x  x  x
194  x  x  l  x  x  x   x   x  x  x  x
201  x  x  l  x  x  x   x   x  x  x  x
277  x  x  x  x  x  x   x   x  x  x  x
287  x  x  x  x  x  x   x   x  x  x  x
297  x  x  x  x  x  x   x   x  x  x  x

# EDA

In [28]:
from pandas_profiling import ProfileReport

ModuleNotFoundError: No module named 'pandas_profiling'

In [ ]:
ProfileReport(true)

In [ ]:
ProfileReport(pred)

In [ ]:
inference_result[pred['ST.1']!='x']

In [ ]:
nr = []
for i,f in enumerate(inference_result['processed_finding']):
    if 'increased skin thick' in f:
      print(i)
      nr.append(i)

In [ ]:
inference_result[pred['ST.1']!='x']['processed_finding'].iloc[0]

In [ ]:
inference_result[pred['ST.1']!='x']['processed_finding'].iloc[2]

In [ ]:
true['N'].value_counts()

N
x    317
r      5
l      3
b      1
Name: count, dtype: int64

In [ ]:
true['M'].value_counts()

M
x    180
r     67
l     67
b     12
Name: count, dtype: int64

In [ ]:
true['C'].value_counts()

C
x    219
l     41
r     38
b     28
Name: count, dtype: int64

In [ ]:
true['A'].value_counts()

A
x    261
l     35
r     30
Name: count, dtype: int64

In [ ]:
true['AD'].value_counts()

AD
x    296
l     15
r     15
Name: count, dtype: int64

In [ ]:
true['ST'].value_counts()

ST
x    296
l     18
r      9
b      3
Name: count, dtype: int64

In [ ]:
true['LNE'].value_counts()

LNE
x    326
Name: count, dtype: int64

In [ ]:
true['ILN'].value_counts()

ILN
x    306
l     10
r      7
b      3
Name: count, dtype: int64

In [ ]:
true['NR'].value_counts()

NR
x    306
l     10
r     10
Name: count, dtype: int64

In [ ]:
true['SR'].value_counts()

SR
x    324
l      2
Name: count, dtype: int64

In [ ]:
true['TT'].value_counts()

TT
x    326
Name: count, dtype: int64